<!DOCTYPE html>
<html lang="en">

<head>
    <title>Patient Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='hospitalfetch.js') }}"></script>
</head>

<body>
    <header class="header">
        <h1>Patient Records</h1>
        <a href="{{ url_for('logout') }}">Logout</a>
    </header>

    <main class="container">
        <button onclick="window.location.href='{{ url_for('navigation') }}'">Back to Navigation</button>
        <section>
            <h2>All Patient Records</h2>
            <table id="patient-records">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>NHS Number</th>
                            <th>Address</th>
                            <th>Conditions</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
            </table>
        </section>
    </main>
</body>

</html>
